body {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background: none;
}


.linknav {
    color: #383876;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.active .linknav:hover {
    color: #F9755C;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}


@media (min-width: 800px) {


.ArticleImage {
    max-height: 500px;
    background-image: url("images/start@2x.png"), linear-gradient(0deg, #302F76 0%, #161541 100%);
    background-size: cover;
    background-position: center;
   max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
        display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "headline";
}

    .post {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "post post post post";
}


    .ForthSection {
        display: grid;
        grid-area: post;
    grid-column: 2/2;
    }

    .facebook-share {
        position: fixed;
        display: grid;
        grid-area: post;
    grid-column: 1/1;
        align-content: center;
        margin-top: 35vh;
        margin-left: 5em;
        margin-right: auto;
         list-style: none;
    }

    .facebook-share a {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        color: #383876;

    }

    .facebook-share a i {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding-top: 20px;
        font-size: 16px;
        width: 60px;
        height: 40px;
        background-color: #F9775A;
        border-radius: 30px;
        color: white;
    }

    .facebook-share a i:hover {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding-top: 20px;
        font-size: 16px;
        width: 60px;
        height: 40px;
        border-radius: 30px;
        color: white;
        box-shadow: 0 0 30px 0 rgba(0,0,0,0.15);
        background-color: #E95033;
        transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    }

    .article {
    height: auto;
    margin-left: auto;
    margin-right: auto;
            width: 90%;
    border-radius: 0px;
        display: block;
        justify-content: flex-start;
}


        .article h1 {
    color: #5F5FC4;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2.67px;
            height: auto;
            margin-top: 3em;
            margin-bottom: 3em;
            text-transform: uppercase;
}

           .article p {
               margin-bottom: 50px;
    color: #161542;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 35px;
               text-align: left;
}

    .Headline-DetailBox h1 {

    text-align: left !important;
}

}

@media (max-width: 800px) {


        .facebook-share {
        background-color: white;
        text-align: center;
        width: 100vw;
        height: 80px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
            list-style :none;

    }


    .facebook-share a {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        color: #383876;

    }

    .facebook-share a i {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding-top: 20px;
        font-size: 16px;
        width: 60px;
        height: 40px;
        background-color: #F9775A;
        border-radius: 30px;
        color: white;
    }

    .facebook-share a i:focus {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        padding-top: 20px;
        font-size: 16px;
        width: 60px;
        height: 40px;
        border-radius: 30px;
        color: white;
        box-shadow: 0 0 30px 0 rgba(0,0,0,0.15);
        background-color: #E95033;
        transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
    }

.ArticleImage {
    max-height: auto;
    background-image: url("images/start@2x.png"), linear-gradient(0deg, #302F76 0%, #161541 100%);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
}


        .article {
    height: auto;
    margin-left: auto;
    margin-right: auto;
            width: 80%;
    border-radius: 0px;
        display: block;
            justify-content: flex-start;
}

            .article h1 {
    color: #5F5FC4;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2.67px;
            height: auto;
                margin-top: 2em;
            margin-bottom: 2em;
                text-transform: uppercase;
}

           .article p {
    margin-bottom: 50px;
    color: #161542;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 35px;
    text-align: left;
}

}
